.account{
    background-color: white;
    color: black;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 100px;
    top: 50px;
    

}


.expanded{
    border-radius: 3px;
    padding: 2px;
    box-shadow: 2px 2px 8px;

   
    max-height: 70px;
}

/* .navbar{
    background-color: var(--navbar-background);
} */


.account > h1{
    width: 100%;
    padding: 2px 2px 2px 5px;
    
}


/* #23629F */


.list-items li {
    
    padding: 4px 20px;
    list-style: none;

}

.list-items li:hover{
    background-color:var(--background) ;
    

}

.chevron{
    width: 20px;
    height: 20px;
    transition: all 0.5s ease-in-out;

}

.rotated{
    transform: rotate(180deg);
}

.side-nav{
    height: 100%;
    position: fixed;
    width: 0;
    top:10.5vh ;
    left: 0;
    transition: width 3s ease-in-out;
}


.side-nav.active{
    width:200px;
}